<% provide(:title, @taxon.name) %>
<%= render "light_section", taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render "left_categories_section", taxonomies: @taxonomies %>
      <%= render "categories_products_section", products: @products %>
    </div>
  </div>
</section>
<%= render "footer_logo_section" %>