<% provide(:title, @product.name) %>
<%= render "light_section", product_name: @product.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "media_left_product_slider", product_image: @product.images %>
          <%= render "main_body", product: @product %>
        </div>
      </div>
    </div>
    <%= render "related_product_contents", related_products: @related_products %>
  </div>
</section>