<!DOCTYPE html>
<html lang="en">
  <%= render "layouts/head" %>

  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <%= javascript_include_tag 'application' %>
  </body>

</html>